<% if @errors %>
    <div class="row errors">
        <div class="columns twelve">
            <div class="alert-box alert">
                <ul>
                    <% @errors.messages.each do |field, messages| %>
                        <% messages.each do |message| %>
                            <li><%= field.to_s %> <%= message %></li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
<% end %>
