<ul>
    <% @commits.each do |commit| %>
        <li>
            <a href="<%= commit_url(commit) %>"><%=commit.committer.name%> - <%=commit.message%> - <%=commit.score%></a>
        </li>
    <% end %>
</ul>