
<ul>
<% @repositories.each do |repo| %>
    <li>
        <a href="<%= repository_url(repo) %>"><%= repo.name %> - <%= repo.url %></a>
        <a href="<%= "#{repository_url(repo)}/config" %>">config</a>
    </li>
<% end %>
</ul>
