<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Simple Code Review</title>
    <%= stylesheet_link_tag "/css/foundation.min.css" %>
    <%= stylesheet_link_tag "/css/app.css" %>
</head>
<body>

<%= erb :_nav %>

<%= yield %>

</body>
</html>
