<!DOCTYPE html>

<html>
<head>
    <title>Simple Code Review</title>
    <link rel="stylesheet" type="text/css" href="/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>

<nav class="top-bar">
    <div class="row">
        <ul>
            <li class="name">
                <h1>
                    <a href="/">Simple Code Review</a>
                </h1>
            </li>
        </ul>

        <section>

            <% if logged_in? %>
            <ul class="left">
                <li class="divider"></li>
                    <li>
                        <a href="/repository/new">new repository</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/pending">pending review</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/mybad">my bad</a>
                    </li>
                <li class="divider"></li>
            </ul>
            <% end %>

            <ul class="right">
                <li class="divider"></li>
                <% if logged_in? %>
                <li class="has-dropdown menu-user">
                    <a href="#">
                        <img src="<%= current_user.avatar_url %>" alt="<%= current_user.name %>" width="32" height="32" class="avatar">
                        <%= current_user.username %>
                    </a>
                    <ul class="dropdown">
                        <li>
                            <a href="/me">Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </li>
                <% else %>
                    <li>
                        <a href='/auth/github'>log in</a>
                    </li>
                <% end %>
                <li class="divider"></li>
            </ul>
        </section>
    </div>
</nav>

<%= yield %>

</body>
</html>
