<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Simple Code Review</title>
    <link rel="stylesheet" type="text/css" href="/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>

<%= erb :_nav %>

<%= yield %>

</body>
</html>
