html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

a {
    color: #000;
    text-decoration: none;
}

.max-content {
    max-width: 960px;
    margin: 0 auto;
}

header {
    height: 80px;
    border-bottom: 1px solid #efefef;
    box-shadow: 0 1px 0 0 #d6d6d6, 0 2px 0 0 #e6e6e6;
    margin-bottom: 30px;
}

header .logo {
    width: 67px;
    height: 49px;
    background-image: url(../img/logo.png);
    margin: 15px 0 0 0;
    display: inline-block;
}

header ul {
    display: block;
    float: right;
    margin-top: 30px;
}

header li {
    display: inline-block;
    margin-left: 15px;
}

header li img {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    margin-top: -3px;
}

header li a {
    color: #333;
    font-size: 14px;
}

header li a.current,
header li a:hover {
    color: #3a8fec;
}
