@import "compass/css3";

.menu-user {
    .avatar {
        float: left;
        margin: 5px 5px 0 0;
        width: 32px;
        height: 32px;
        @include border-radius(32px);
        vertical-align: middle;
    }
    .dropdown {
        width: 100%;
    }
}

.btn-edit {
    text-transform: uppercase;
}

.top-bar ul .name h1 { line-height: 45px; margin: 0; }
.top-bar ul .name h1 a { font-weight: bold; padding: 0 22.5px; font-size: 17px !important; }
.top-bar ul .name img { margin-top: -5px; vertical-align: middle; }
